
 * {
         margin: 0;
         padding: 0;
    }

body {
    background-color: #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Audiowide",sans-serif;
}
/*Навигация*/      
navigation{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100px;
    font-family: "DM Mono",sans-serif;
}
.nav_text{
    display: flex;
}

.nav_block{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 100px;
    gap: 12px;
    color: white;
}
.nav_block2{
    display: flex; 
    align-items:flex-start;
    gap: 40px;
}
.burger{
    display: none;
    margin: 10px;
}
/*Навигация*/  

/*Главная секция*/ 
main{
    display: flex;
    min-height: 450px;
    width: 100%;
    justify-content:right;
    align-items:center;
    flex-direction: row;
    padding-right: 5%;
    gap: 20px;
    padding-bottom: 10px;
    overflow: hidden;
}
.main_text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 5%;
    position: absolute;
    top:15vw;
    left: 0px;
    width: 493px;
    height: 429px;
}
.main_text_2{
    font-size: 16px;
    line-height: 160%; 
    color: white;
    width: 30vw;
    font-family: "Inter",sans-serif;
}
.main_button{
    margin-top: 50px; 
    background: #8DFD1B;
    width: 205px;
    height: 60px;
    font-family: "DM Mono",sans-serif;
}
.main_img{
    width: 60%;
    object-fit: contain;
}

/*Главная секция*/ 

/*Первая секция*/ 
first_section{
    display: flex;
    width: 90%;
    justify-content:space-around;
    padding-left: 5%;
    gap:5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 100px;
}
.first_section_block1{
    display: flex;
    flex-direction: column;
    align-items:start;
    min-width: 340px;
}
.first_section_img{
    display: flex;
    padding-top: 20px;
    object-fit: contain;
    max-width: 360px;
    width: 100%;
}

.first_section_block2{
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
    max-width: 553px;
    font-family: "Inter",sans-serif;
}

.first_section_button{
    margin-top: 32px; 
    background: none;
    border: solid 1px #8DFD1B;
    color:#ffffff;
    width: 205px;
    height: 60px;
    font-family: "DM Mono",sans-serif;
}
/*Первая секция*/

/*Картинка секция*/
img_section{
    display: flex;
    width: 100%;
    height: 20vw;
    max-height: 300px;
    min-height: 100px;
    overflow: hidden;
}
/*Картинка секция*/

/*Текст секция*/       
text_section{
    display: flex;
    align-items:center;
    justify-content:center;
    color: #ffffff;
    font-size: 79px;
    gap: 283px;
    width: 100%;
    height: 20vw;
    max-height: 300px;
    min-height: 100px;
    overflow: hidden;
}
/*Текст секция*/  

/*Художники секция*/  
artist_section{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: start;
    gap: 60px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
}

.artist_card{
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 20px;
    color: #ffffff;
    font-size: 16px;
    width: 245px;
    object-fit: contain;
    padding-bottom:20px;
    font-family: "DM Mono",sans-serif;

}
/*Художники секция*/ 

/*Footer*/ 
footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:column;
    width: 80%;
    gap: 40px;
    background: #42006a;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    padding-top: 100px;
    font-size: 16px;
    color: #ffffff;
    font-family: "DM Mono",sans-serif;
}
.footer_base{
    display: flex;
    justify-content:space-between;
    align-items:start;
    flex-direction:row;
    width: 100%;
    gap: 40px;
}
.footer_block{
    display: flex; 
    align-items:start;
    flex-direction:column;
    gap: 29px;
}

.footer_hide_link{
    display: none;
    width: 36px;

}
.footer_hide_link1{
    display: flex;
}
.footer_block_4{
    display: flex; 
    align-items:start;
    flex-direction:column;
    gap: 29px;
}
.footer_block_42{
    display: none; 
    align-items:start;
    gap: 29px;
}
.footer_hide_2{
    display: flex;

}
.footer_hide_21{
    display: none;

}
/*Footer*/ 

@media all and (max-width:1300px){
    .footer_hide_link{
    display: flex;
    }
    .footer_hide_link1{
    display: none;
    }

}

@media all and (max-width:1020px){
    .footer_block_4{
        display: none;
    }
    .footer_block_42{
        display: flex; 
    }
    footer{
        padding-bottom: 20px;
    }

}

@media all and (max-width:700px){
    .nav_text{
        display: none;
    }
    .burger{
    display: flex;
    }
    main{
       flex-direction: column-reverse; 
       justify-content: flex-end;
    }
    .main_img{
        width: 100%;
    }
    .main_text{
        padding-right: 15%;
        padding-left: 10%;
        position: relative;
        top:auto;
        left:auto;
        width: auto;
        height: auto;
        gap: 10px;
    }
    .main_text_2{
        width: 80%;
    }
    .main_button{
        width: 100%;
        margin-top: 10px; 

    }
    first_section{
        flex-direction: column;
        gap:50px;
        padding-top: 0px;
        padding-left: 10%;
        padding-bottom: 30px;
    }
    .footer_block_4{
        display: flex;
    }
    .footer_block_42{
        display: none; 
    }
    .footer_base{
        flex-direction:column;
        gap: 46px;
    }
    .footer_block{
        gap: 19px;
    }
    .footer_hide_21{
        display: flex;
    }
    .footer_hide_2{
        display: none;
    }
    footer{
        padding-bottom: 40px;
    }

    
}

@media all and (max-width:625px){
    artist_section{
        justify-content: center;

    }
}

